.mat-card {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
}

.mat-card-header {
  background-color: #3f51b5; /* Couleur primaire */
  color: white;
  padding: 10px;
  border-radius: 4px 4px 0 0;
}

.mat-card-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.add-recipe-form,
.add-ingredients-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mat-form-field {
  width: 100%;
}

.file-upload {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.file-upload button {
  margin-right: 15px;
}

.file-upload input[type='file'] {
  display: none;
}

.file-upload span {
  font-size: 0.9rem;
  color: grey;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mat-raised-button {
  min-width: 150px;
}

@media (max-width: 600px) {
  .mat-card {
    padding: 10px;
  }

  .mat-card-header {
    padding: 5px;
  }

  .mat-card-title {
    font-size: 1.2rem;
  }

  .add-recipe-form,
  .add-ingredients-form {
    gap: 10px;
  }

  .file-upload {
    flex-direction: column;
    align-items: flex-start;
  }

  .file-upload button {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .file-upload span {
    font-size: 0.8rem;
  }

  .mat-card-actions {
    margin-top: 10px;
  }

  .mat-raised-button {
    min-width: 100px;
  }
}
