.register {
    display: flex;
    justify-content: center;
}
mat-form-field{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 500px;
}
.mail, .pswd, .nom, .date, .prenom, .pseudo{
    padding: 10px;
    border-radius: 10px;
}
.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }