.me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

button {
  margin-top: 1rem;
}

.btn-delete {
  color: grey;
  background: transparent;
  border: none;
  text-transform: none;
  font-size: 0.9rem; /* Taille de police plus petite */
}
.btn-delete:hover {
  color: red;
}

button.mat-button:hover {
  background: rgba(0, 0, 0, 0.1);
}

button + button {
  margin-left: 1rem;
}

@media (max-width: 550px) {
  .me-container {
    padding: 1rem;
  }
}
