<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Titre</mat-label>
      <input matInput formControlName="title" required>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" required></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Temps de cuisson (en minutes)</mat-label>
      <input matInput type="number" formControlName="cookingTime" required>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Portions</mat-label>
      <input matInput type="number" formControlName="servings" required>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Utilisateur</mat-label>
      <mat-select formControlName="userId" required>
        <mat-option *ngFor="let user of users" [value]="user.id">{{ user.pseudo }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Catégorie</mat-label>
      <mat-select formControlName="categoryId" required>
        <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <div formArrayName="ingredients" *ngFor="let ingredient of ingredients.controls; let i=index">
      <div [formGroupName]="i">
        <mat-form-field>
          <mat-label>Ingrédient</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Quantité</mat-label>
          <input matInput type="number" formControlName="quantity" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Unité</mat-label>
          <input matInput formControlName="unit" required>
        </mat-form-field>
      </div>
    </div>
    <button mat-button type="button" (click)="addIngredient()">Ajouter un ingrédient</button>
  
    <mat-form-field>
      <mat-label>Image</mat-label>
      <input matInput type="file" (change)="onFileChange($event)" required>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Soumettre la recette</button>
  </form>
  