
<mat-card class="recipe-card" *ngIf="recipe">
    <mat-card-header>
      <mat-card-title>{{ recipe.title }}</mat-card-title>
      <mat-card-subtitle>{{ recipe.userPseudo }} - {{ recipe.categoryName }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="'assets/uploads/images/origine/'+recipe.imageName" alt="{{ recipe.title }}">
    <mat-card-content>
      <p>{{ recipe.description }}</p>
      <p><strong>Temps de cuisson:</strong> {{ recipe.cookingTime }} minutes</p>
      <p><strong>Portions:</strong> {{ recipe.servings }}</p>
      <p><strong>Ingrédients:</strong></p>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.quantity }} {{ ingredient.unit }} - {{ ingredient.name }}
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="back()">Retour</button>
    </mat-card-actions>
  </mat-card>
  