.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .img {
    height: 80vh;
    width: 80vh;
  }
  .boutons{
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
  .btn1, .btn2{
    border-radius: 10px;
    border-color: black;
  }
  @media(max-width: 550px) {
    img{
     width: 200px;
  
    }
    .boutons{
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
   }