<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/reception/welcome">Accueil</a>
    <span class="spacer"></span>
    <a *ngIf="isAdmin" mat-button (click)="navigateToUserList()" id="list">Liste des utilisateurs</a>
    <a mat-button routerLink="/recipe/add-recipe">Ajouter une recette</a>
    <a mat-button routerLink="/recipe/list">Liste des recette</a>
    <mat-select placeholder="Catégories" class="category-select">
      <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
    </mat-select>
    <button mat-icon-button aria-label="Search">
      <mat-icon>search</mat-icon>
    </button>
    <a mat-icon-button id = "profile" aria-label="User profile" (click)="navigateToMe()">
      <mat-icon>account_circle</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

  
  
  
  